{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block body %}
    <div class="form">
        <div class="error-message">
            {% if user.errors is not empty %}
                <p>Errors:</p>
                <ul>
                    {% for error in user.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <h1 style="text-align: center;">Login</h1>
        <form method="post" action="/login/login">
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" value="{{ user.email }}">
            </div>
            <div>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
            </div>
            <div>
                <label id="checkbox-label" for="remember_me">Remember Me</label>
                <input class="checkbox" type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} />
            </div>
            <br />
            <button class="auth-btn" type="submit">Login</button>
        </form>
    </div>
{% endblock %}