<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    {% for message in flash %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
    <div id="root"></div>
    <script src="/assets/js/index.js"></script>
</body>
</html>