{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block body %}
    {% if user[0]['id'] %}
        <div class="jumbotron">
            <h1 class="text-center">{{ message }}</h1>
            <p class="text-center">User with ID: {{ user[0]['id'] }} is logged in. <a href="/logout">Log out</a></p>
            <p class="text-center">{{ user[0]['name'] }}</p>
        </div>
        <div id="root"></div>
    {% else %}
        <div class="jumbotron">
            <h1 class="text-center">{{ message }}</h1>
        </div>
    {% endif %}
{% endblock %}