<?php 
namespace Core;
// Rename File to Config.php to autoloaded

class Config
{
    // PHP Mailer Configurations
    public $settings = [
        "MAIL_HOST" => "",
        "MAIL_USERNAME" => "",
        "MAIL_PASSWORD" => "",
        "MAIL_FROM_ADDRESS" => "",
        "MAIL_FROM_NAME" => "",
        "MAIL_REPLY_TO" => "",
        "MAIL_REPLY_TO_NAME" => ""
    ];
}